<!-- Site header and primary navigation -->
<header class="page-header" role="banner">
  <h1 class="project-name"><a id="maintitle" href="{{ site.url }}" >{{ site.title1 }}<span style="color:#00ff99;">{{ site.title2 }}</span>.</a></h1>
  <span style="color:#00ff99;">e. <a href="mailto:{{ site.email }}" style="color:#ffffff;" >{{ site.email }}</a>
  <!-- &nbsp;&nbsp;<br class="hidden-ss">&nbsp;&nbsp;t. <a href="tel:+{{ site.ccode }}-{{ site.phone }}"  style="color:#ffffff;">(+{{ site.ccode }}) {{ site.phone }}</a> -->
  &nbsp;&nbsp;<br class="hidden-ss">&nbsp;&nbsp;cv. <a href="{{ site.url }}/files/2020engD.pdf" style="color:#ffffff;">eng</a> | <a href="{{ site.url }}/files/courses#courses-ive-taken" style="color:#ffffff;">courses</a></span>
  <h2 class="project-tagline">{{ site.description }}</h2>
  
  <!-- Note: Project navigation has been moved to /archive/. 
       Case studies are featured on the homepage instead. 
       Original projects remain accessible at /projects/:slug/ -->
</header>
