<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
<title>{{ site.title }}</title>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
		</script>
	{% endif %}
		<script>
		const sentence = 'Hire Me!';
		setInterval(function () {
			var x = document.getElementsByClassName("btn");
			for (var i = 0; i < x.length; i++) {
			   x.item(i).setAttribute('data-value', "#"+(sentence.charCodeAt(Math.floor(Math.random()*sentence.length) >>> 0)*Math.floor(Math.random()*8)).toString(2));
			}
		}, 120);
		
      </script>
    <meta property='og:image' content="{{ site.url }}/img/site.png"/>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/header.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/images.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    
    <header class="page-header" role="banner">
      <h1 class="project-name"><a id="maintitle" href="{{ site.url }}" >{{ site.title1 }}<span style="color:#00ff99;">{{ site.title2 }}</span>.</a></h1>
	  <span style="color:#00ff99;">e. <a href="mailto:{{ site.email }}" style="color:#ffffff;" >{{ site.email }}</a>
	  <!-- &nbsp;&nbsp;<br class="hidden-ss">&nbsp;&nbsp;t. <a href="tel:+{{ site.ccode }}-{{ site.phone }}"  style="color:#ffffff;">(+{{ site.ccode }}) {{ site.phone }}</a> -->
	  &nbsp;&nbsp;<br class="hidden-ss">&nbsp;&nbsp;cv. <a href="{{ site.url }}/files/2020engD.pdf" style="color:#ffffff;">eng</a> | <a href="{{ site.url }}/files/2020hebD.pdf" style="color:#ffffff;">heb</a> | <a href="{{ site.url }}/files/courses#courses-ive-taken" style="color:#ffffff;">courses</a></span>
      <h2 class="project-tagline">{{ site.description }}</h2>	  
      {% if site.show_downloads %}	  
	  <div class="divv">	  
	  {% assign projects = site.projects | sort: 'ind' %}
	  {% assign curryear = 'now' | date: "%Y" %}
	  {% for page in projects %}  
	   <a data-content-b="{{ page.tag }}" href="{{ site.url }}{{ page.url }}#content" class="btn tooltip"><span class="contentt">{{ page.title }}</span>
		<div class="tooltiptext">{{ page.sdisc }}</div>
		{% if page.year contains curryear %}
		<span class="hot">NEW!</span>
		{% endif %}
	   </a><br style="display: none;">
	   {% assign ind = forloop.index | modulo: 4 %}
	   {% if ind<1 %}
	   <br class="hidden-ll">
	   {% endif %}
      {% endfor %}
	  </div>
      {% endif %}
	   
    </header>

    <main id="content" class="main-content" role="main">
	{% if page.is_project %}
	<h1 style="display: inline-block;margin-bottom:0;"><b>{{ page.title }}</b></h1>
	<div class="head-year-div"><h6 class="project-year">{{ page.year }}</h6><h6 class="tooltiptext">This project started in {{ page.year }}.</h6></div>
	<h4 style="margin-top:0;border-bottom: solid 1px #ffffff;">{{ page.disc }}</h4>
	{{ content }}
	<div class="sub-project">
	<ul class="project-topls">
	  <li><span>Programmed in 
		  {% assign lnsize = page.c_lang.size|minus: 1 %}
		  {% for ln in page.c_lang %}
		  {% assign ind = forloop.index0 | plus: 4 %}
		  {% assign ind = ind | modulo: site.spcolors.size %}
		  <span style="color:{{ site.spcolors[ind] }};">{{ ln }}</span><!--
	-->{% if forloop.index<lnsize %}, 
	   {% elsif forloop.index==lnsize and lnsize>0 %}
		& 
	   {% endif %}<!--
	  -->{% endfor %}.</li>
	  <li class="li-LOC">Over <span style="color:#ff00ff;">{{ page.LOC }}</span> lines of code.<span class="tooltiptext">This figure may include comment lines and some modified library files.</span></li>
	  {% for item in page.parts %}	 
		{% assign lbsize = item.lib.size|minus: 1 %}	  
		<li>
		{% for lb in item.lib %}{% assign ind = forloop.index0 | modulo: site.spcolors.size %}<span style="color:{{ site.spcolors[ind] }};">{{ lb }}</span><!--
	 -->{% if forloop.index<lbsize %}, 
		{% elsif forloop.index==lbsize and lbsize>0 %}
		 & 
		{% endif %}
		{% endfor %} 
		{{ item.con }} <span style="color:#bc13fe;">{{ item.term }}</span>.</li>
	  {% endfor %}
	</ul>

	<table class="tablea">
		<thead>  
		  <tr class="tablea-head">
			<th style="text-align: left;border:none;border-radius: 40px 0 0 40px;">Lang/Lib/Pro</th>
			<th style="text-align: left;border:none;border-radius: 0 40px 40px 0;">Version</th>
		  </tr>	
		</thead>
		<tbody>
		{% for item in page.tablea %}
			{% assign ind = forloop.index | modulo: site.spcolors.size %}
		  <tr style="color:{{ site.spcolors[ind] }};">
			<td style="text-align: left;border:none;border-radius: 40px 0 0 40px;">{{ item[0] }}</td>
			<td style="text-align: left;border:none;border-radius: 0 40px 40px 0;">{{ item[1] }}</td>	   
		  </tr>
		  {% endfor %}    
		</tbody>
	  </table>

	<br>

	<table class="tableb">
		<tbody>
		{% for item in page.tableb %}
			{% assign ind = forloop.index | plus: 4 %}
			{% assign ind = ind | modulo: site.spcolors.size %}
		  <tr class="trb">
			<td  style="border-color:rgba(255, 255, 255, 0.05); text-align:left;border-right:none;border-radius: 40px 0 0 40px;">{{ item[0] }}</td>
			<td  style="border-color:rgba(255, 255, 255, 0.05);text-align:left;border-left:none;border-radius: 0 40px 40px 0;color:{{ site.spcolors[ind] }};">{{ item[1] }}</td>	   
		  </tr>
		  {% endfor %}    
		</tbody>
	</table>
	{% if page.img %}
	<script>
		function setimg(eele) {
			var modal = document.getElementById("myModal");
			var modalImg = document.getElementById("modal-img");
			var captionText = document.getElementById("img-caption");
			var ele=eele.childNodes[1];
			modal.style.display = "block";
			modalImg.src = ele.src;
			captionText.innerHTML = ele.alt;
			modalImg.alt=ele.alt;
			modal.style.zIndex =4;
			modal.style.opacity= 100;
			modal.style.overflow='auto';
		}
		function closeModal(ele){			
			ele.style.opacity= 0;
			ele.style.overflow='hidden';
			ele.style.zIndex =-1;
}
	</script>
	<div class="img-div">
	<span class="img-head">Screenshots</span>
		<div class="img-container">
		{% for item in page.img %}
			<div class="img"  onclick="setimg(this)">
			<img class="myImg" src="{{ site.url }}/img/{{ item[0] }}" alt="{{ item[1] }}" style="width:80%;max-width:300px">
			<span class="tooltiptext">{{ item[1] }}</span>
			</div>
		{% endfor %} 	
		</div>
	</div>
	<!--Big Img Div-->
	<div id="myModal" class="modal" onclick="closeModal(this)">
		<img class="modal-content" id="modal-img">
		<div id="img-caption"></div>
	  </div>
	</div>
	{% endif %}

	
</div>
	{% else %}
		{{ content }}
	{% endif %}
    
	
      <footer class="site-footer">
        <span class="site-footer-credits"><a href="https://pages.github.com" style="color:#00ff99;">GitHub Pages</a></span>
		 &copy; 
		<span class="site-footer-credits-l"><a href="mailto:{{ site.email }}" style="color:#00ff99;">Amitai.A.</a></span>
      </footer>
	</main>
 </body>
</html>
